/* literacy-learners-app/src/components/layout/AppLayoutComponent.css */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout main {
  flex-grow: 1; /* Ensures main content takes available space */
  padding: 1rem 1.5rem; /* Padding for content area */
}
